
@{
    ViewBag.Title = "Index";
}

<!--
<h2>Costos</h2>

<form class="form-group">

    <div id="diCosto">Costo</div>
    <input class="form-control" id="inCosto" placeholder="costo de la habitación" />

    <div id="diISalida">Salida</div>
    <select class="form-control" id="selISalidaCost">
        <option value="0">Seleccione la Salida </option>
    </select>

    <div id="diIDestino">Destino</div>
    <select class="form-control" id="selIDestinosCost">
        <option value="0">Selecciona el destino</option>
    </select>

    <div id="disDDestino">Habitación</div>
    <select class="form-control" id="selHabitaciones">
        <option value="0">Seleccione la Habitación </option>
    </select>
    <div id="diPersona">Persona</div>
    <select class="form-control" id="selPersona">
        <option value="0">Seleccione la persona </option>
        <option value="1">Niño </option>
        <option value="2">Adulto </option>
    </select>

    <div id="btnInsertaCosto" class="btn btn-primary">Insertar</div>
</form>

<form class="form-group">
    <div id="diSalida">Salida</div>
    <select class="form-control" id="selSalidaCost">
        <option value="0">Seleccione la Salida </option>
    </select>

    <div id="diDestino">Destino</div>
    <select class="form-control" id="selDestinosCost">
        <option value="0">Selecciona el destino</option>
    </select>
    <div id="diHabitacionE">Habitación</div>
    <select class="form-control" id="selHabitacionCost">
        <option value="0">Seleccione la Habitación </option>
    </select>
    <div id="btnEliminaCosto" class="btn btn-primary">Eliminar</div>
</form>


<form class="form-group">
    <div id="diSalidaM">Salida</div>
    <select class="form-control" id="selMSalidaCost">
        <option value="0">Seleccione la Salida </option>
    </select>

    <div id="diDestinoM">Destino</div>
    <select class="form-control" id="selMDestinosCost">
        <option value="0">Selecciona el destino</option>
    </select>
    <div id="diHabitacionM">Habitación</div>
    <select class="form-control" id="selMHabitacionCost">
        <option value="0">Seleccione la Habitación </option>
    </select>

    <div id="diPersona">Persona</div>
    <select class="form-control" id="selMPersona">
        <option value="0">Seleccione la persona </option>
        <option value="1">Niño </option>
        <option value="2">Adulto </option>
    </select>

    <div id="diMCosto">Costo</div>
    <input class="form-control" id="inMCosto" placeholder="costo de la habitación" />

    <div id="btnModifCosto" class="btn btn-primary">Modificar</div>
</form>
   -->

    <div id="accordion">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Insertar
                    </button>
                </h5>
            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">                   

                    <form class="form-group">

                        <div id="diCosto">Costo</div>
                        <input class="form-control" id="inCosto" placeholder="costo de la habitación" />

                        <div id="diISalida">Salida</div>
                        <select class="form-control" id="selISalidaCost">
                            <option value="0">Seleccione la Salida </option>
                        </select>

                        <div id="diIDestino">Destino</div>
                        <select class="form-control" id="selIDestinosCost">
                            <option value="0">Selecciona el destino</option>
                        </select>

                        <div id="disDDestino">Habitación</div>
                        <select class="form-control" id="selHabitaciones">
                            <option value="0">Seleccione la Habitación </option>
                        </select>
                        <div id="diPersona">Persona</div>
                        <select class="form-control" id="selPersona">
                            <option value="0">Seleccione la persona </option>
                            <option value="1">Niño </option>
                            <option value="2">Adulto </option><
                        </select>

                        <div id="btnInsertaCosto" class="btn btn-primary">Insertar</div>
                    </form>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Modificar 
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">                    
                    <form class="form-group">
                        <div id="diSalidaM">Salida</div>
                        <select class="form-control" id="selMSalidaCost">
                            <option value="0">Seleccione la Salida </option>
                        </select>

                        <div id="diDestinoM">Destino</div>
                        <select class="form-control" id="selMDestinosCost">
                            <option value="0">Selecciona el destino</option>
                        </select>
                        <div id="diHabitacionM">Habitación</div>
                        <select class="form-control" id="selMHabitacionCost">
                            <option value="0">Seleccione la Habitación </option>
                        </select>

                        <div id="diMPersona">Persona</div>
                        <select class="form-control" id="selMPersona">
                            <option value="0">Seleccione la persona </option>
                            <option value="1">Niño </option>
                            <option value="2">Adulto </option>
                        </select>

                        <div id="diMCosto">Costo</div>
                        <input class="form-control" id="inMCosto" placeholder="costo de la habitación" />

                        <div id="btnModifCosto" class="btn btn-primary">Modificar</div>
                    </form>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Eliminar 
                    </button>
                </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">                    
                    <form class="form-group">
                        <div id="diSalida">Salida</div>
                        <select class="form-control" id="selSalidaCost">
                            <option value="0">Seleccione la Salida </option>
                        </select>

                        <div id="diDestino">Destino</div>
                        <select class="form-control" id="selDestinosCost">
                            <option value="0">Selecciona el destino</option>
                        </select>
                        <div id="diHabitacionE">Habitación</div>
                        <select class="form-control" id="selHabitacionCost">
                            <option value="0">Seleccione la Habitación </option>
                        </select>
                        <div id="btnEliminaCosto" class="btn btn-primary">Eliminar</div>
                    </form>
                </div>
            </div>
        </div>
    </div>

<script src="~/Scripts/Project/jsCostos.js"></script>
<link href="~/Content/Project/cssSalida.css" rel="stylesheet" />


<input type="hidden" id="urlObtSalidaI" value="@Url.Action("ObtieneSaalidas","Salidas")" />
<input type="hidden" id="urlObtDestinoI" value="@Url.Action("InicialDestinos","Destinos")" />
<input type="hidden" id="urlSalidaInicial" value="@Url.Action("ObtieneSalidasCost","Costos")" />
<input type="hidden" id="urlDestinoInicial" value="@Url.Action("ObtieneDestinosCost","Costos")" />
<input type="hidden" id="urlObtHabitaciones" value="@Url.Action("ObtieneHabitaciones","Costos")" />
<input type="hidden" id="urlObtHabitacionesCost" value="@Url.Action("ObtieneHabitacionesCost","Costos")" />
<input type="hidden" id="urlInsertaCostos" value="@Url.Action("InsertaCostos","Costos")" />
<input type="hidden" id="urlEliminaCostos" value="@Url.Action("EliminaCosto","Costos")" />



